@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Alumni+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alegreya Sans, sans-serif;
    font-weight: 300;
    color: #262729;
}

/* headings and logo */

h1 {
    color: #0336ad;
    font-family: Alumni Sans, sans-serif;
    letter-spacing: 1px;
}

#logo {
    font-size: 400%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 1px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #262729;
}

.active {
    border-bottom: 1px solid #262729;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Bathroom-hero-image.jpg') no-repeat center center;
    opacity: 0.7;
    overflow: hidden;
}

/* services section */

h2 {
    color: #ffffff;
    font-family: Alumni Sans, sans-serif;
    letter-spacing: 1px;
    background-color: #0336ad;
    text-align: center;
    font-size: 250%;
    padding: 25px;
}

#repair {
    height: 300px;
    width: 25%;
    background: url('../images/Repair-image.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    margin: 0px 230px 0px 0px;
}

#boiler {
    height: 300px;
    width: 25%;
    background: url('../images/Boiler-image.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    margin: 0 auto;
}

#bathroom {
    height: 300px;
    width: 25%;
    background: url('../images/Bathroom-image.jpg') no-repeat center center;
    float: right;
    overflow: hidden;
    margin: 0px 0px 0px 230px;
}
