@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Alumni+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alumni Sans, sans-serif;
    font-weight: 300;
}